.App {
  text-align: center;
  display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

